In [1]:
%%time
import pandas as pd
import numpy as np
import math
ppl = pd.read_csv("people.csv")
center=pd.read_csv("ppv.csv")
dfppl = pd.DataFrame(ppl)
dfppv = pd.DataFrame(center)

distancelist = []
assignlist = []
distance = 0
for num1 in ppl['People']:
    for num2 in center['PPV']:
                distance = math.sqrt((dfppv.iloc[num2].loc["Lat"] - dfppl.iloc[num1].loc["Lat"] )**2 + (dfppv.iloc[num2].loc["Lon"] - dfppl.iloc[num1].loc["Lon"])**2)
                distancelist.append(distance)
    minvalue = min(distancelist)
    minindex = distancelist.index(minvalue)
    assignlist.append(minindex)
    distancelist.clear()

dfppl['PPV'] = assignlist
dfppl

CPU times: total: 4min 47s
Wall time: 4min 48s

      People       Lat         Lon  PPV
0          0  2.868615  101.673326    0
1          1  2.878383  101.607508   44
2          2  2.871754  101.599514   44
3          3  3.027363  101.652546    2
4          4  2.997368  101.626043   19
...      ...       ...         ...  ...
9995    9995  2.995173  101.695038   40
9996    9996  3.006136  101.693904   40
9997    9997  2.970721  101.716344   58
9998    9998  2.980272  101.644367    2
9999    9999  2.942730  101.706985   58

[10000 rows x 4 columns]